<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538498400034-l5u6badp836jb4pcl61toak6tcstkt6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538498400034-l5u6badp836jb4pcl61toak6tcstkt6a</string>
	<key>API_KEY</key>
	<string>AIzaSyAhHqIqL7RLEjU1h91QQv4_PVT088fjtkE</string>
	<key>GCM_SENDER_ID</key>
	<string>538498400034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>cz2006-fb101</string>
	<key>STORAGE_BUCKET</key>
	<string>cz2006-fb101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538498400034:ios:cd1a9b25746e9e81f2ef7b</string>
</dict>
</plist>